.chat{
    display: flex;
    flex-direction: column;
    position: relative;
    max-width: 728px;
    margin: 0 auto;
    background: rgb(69,70,100);
	background: -moz-linear-gradient(180deg, rgba(69,70,100,1) 0%, rgba(44,45,73,1) 100%);
	background: -webkit-linear-gradient(180deg, rgba(69,70,100,1) 0%, rgba(44,45,73,1) 100%);
	background: linear-gradient(180deg, #454664 0%, #2c2d49 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#454664",endColorstr="#2c2d49",GradientType=1);
    height: 100vh;
}
.header{
    display: flex;
    justify-content: flex-end;
    padding: 7px 15px;
    position: absolute;
    z-index: 111;
    top: 0;
    left: 0;
    width: 100%;
    height: 40px;
    background-color: #47476b;
}
.exit{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    color: #fff;
    padding: 10px;
    background-color: #75759d;
    border-radius: 6px;
}
