/*Обнуление*/
*{
	padding: 0;
	margin: 0;
	border: 0;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}
nav,footer,header,aside{display: block;}
html,body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit;}
input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}
/*--------------------*/
/*КОНЕЦ ОБНУЛЕНИЯ*/


body {
	background: rgb(69,70,100);
	
}
.App{
	width: 480px;
  margin: 0 auto;
  border-right: 1px solid white;
  border-left: 1px solid white;
	background: rgb(69,70,100);
	background: -moz-linear-gradient(180deg, rgba(69,70,100,1) 0%, rgba(44,45,73,1) 100%);
	background: -webkit-linear-gradient(180deg, rgba(69,70,100,1) 0%, rgba(44,45,73,1) 100%);
	background: linear-gradient(180deg, #454664 0%, #2c2d49 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#454664",endColorstr="#2c2d49",GradientType=1);
  font-family: 'Roboto', sans-serif;
	min-height: 100vh;
}
@media screen and (max-width: 639px) {
	.App{
		width: 100%;
		min-height: 100vh;
	}
	
}
::-webkit-scrollbar-button {
	background-image:url('');
	background-repeat:no-repeat;
	width:5px;
	height:0px
	}
	
	::-webkit-scrollbar-track {
	background-color:transparent
	}
	
	::-webkit-scrollbar-thumb {
	-webkit-border-radius: 15px;
	border-radius: 15px;
	background-color: #212121;
	}
	
	::-webkit-scrollbar-thumb:hover{
	background-color: #333;
	}
	
	::-webkit-resizer{
	width:4px;
	height:0px
	}
	
	::-webkit-scrollbar{
	width: 7px;
	}
