/*Обнуление*/
*{
	padding: 0;
	margin: 0;
	border: 0;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}
nav,footer,header,aside{display: block;}
html,body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit;}
input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}
/*--------------------*/
/*КОНЕЦ ОБНУЛЕНИЯ*/


body{
    font-size: 16px;
    padding: 50px;
    margin: 0 auto;
}

.button{
    display: inline-block;
    padding: 1em 1.5em;
    font-size: 16px;
    color: #fff;

    background-color: tomato;
    box-shadow: 0 0 .5em rgba(0, 0, 0, .5);
    border-radius: 2em;

    margin-right: 10px;
}
.button-big{
    font-size: 40px;
}
.button-medium{
    font-size: 25px;
}
/* .button{
    display: inline-block;
    padding: 16px 24px;
    font-size: 16px;
    color: #fff;

    background-color: tomato;
    box-shadow: 0 0 8px rgba(0, 0, 0, .5);
    border-radius: 32px;

    margin-right: 10px;
}
.button-big{
    font-size: 40px;
    padding: 40px 60px;
    box-shadow: 0 0 20px rgba(0, 0, 0, .5);
    border-radius: 80px; */
}

.parent{
    font-size: 16px;
}
.child{
    border-radius: 2em; 
    /* 2em = 32px */
}
